PRUSALINK_HOST="http://192.168.1.XXX"
PRUSALINK_API_KEY="your-prusalink-api-key"
PRUSASLICER_BIN="/Applications/Original Prusa Drivers/PrusaSlicer.app/Contents/MacOS/PrusaSlicer"
PRINTER_PROFILE="Prusa CORE One HF0.4 nozzle"
PRINT_PROFILE="0.20mm SPEED @COREONE HF0.4"
FILAMENT_PROFILE="Generic PLA @COREONE HF0.4"
